@page "/CallJSTest"

<h3>CallJSTest</h3>

<button @onclick="(() => ShowAlertWindow(myMessage))">Run Test Alert</button>

<button @onclick="(() => ShowOldDevices())">Run Test Alert</button>

<div><p id="myId">Test</p></div>
<svg id="mySvg"></svg>

@code {

}
